[program:ecommerceconnectorworker]
command=php index.php daemon queue process
directory=/srv/www/ecommerceconnector/current/public
user=root
redirect_stderr=true
serverurl=AUTO
autostart=true
autorestart=true
environment=<%= @ENV %>